body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*Electric/*
/**/
.pokemon-card-container{
    background: linear-gradient(to right, #fad61f, #fad61f);
    width: 350px;
    height: auto;
    margin: 10%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
}

.background{
    text-align: center;
    background: linear-gradient(to right, #6a5b0e, #504921);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.image{
    width: 200px;
    height: 200px;
}

.content{
    background: linear-gradient(to right, #f5e593, #fff2af);
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.pokemon-name{
    text-align: center;
    font-size: 19px;
    font-weight: lighter;
    padding: 10px;
}

.pokemon-type{
    background: black;
    padding: 5px;
    color: white;
    border-radius: 5px;
    width: 100px;
    display: block;
    text-align: center;
    position: relative;
    top: -65px;
}

.pokemon-stats p{
    letter-spacing: 1px;
}


/*Water/*
/**/
.pokemon-card-container-water{
    background: linear-gradient(to right, #105c96, #0b4470);
    width: 350px;
    height: auto;
    margin: 10%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
}

.background-water{
    text-align: center;
    background: linear-gradient(to right, #188be0, #188be0);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.image-water{
    width: 200px;
    height: 200px;
}

.content-water{
    background: linear-gradient(to right, #67d2f1, #5acff0);
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.pokemon-name-water{
    text-align: center;
    font-size: 19px;
    font-weight: lighter;
    padding: 10px;
}

.pokemon-type-water{
    background: black;
    padding: 5px;
    color: white;
    border-radius: 5px;
    width: 100px;
    display: block;
    text-align: center;
    position: relative;
    top: -65px;
}

.pokemon-stats-water p{
    letter-spacing: 1px;
}


/*Fire*/
/**/
.pokemon-card-container-fire{
    background: linear-gradient(to right, #f08030, #f08030);
    width: 350px;
    height: auto;
    margin: 10%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
}

.background-fire{
    text-align: center;
    background: linear-gradient(to right, #d4b229, #a58a20);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.image-fire{
    width: 200px;
    height: 200px;
}

.content-fire{
    background: linear-gradient(to right, #f7d448, #f8d030);
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.pokemon-name-fire{
    text-align: center;
    font-size: 19px;
    font-weight: lighter;
    padding: 10px;
}

.pokemon-type-fire{
    background: black;
    padding: 5px;
    color: white;
    border-radius: 5px;
    width: 100px;
    display: block;
    text-align: center;
    position: relative;
    top: -65px;
}

.pokemon-stats-fire p{
    letter-spacing: 1px;
}


/*Fighting*/
/**/
.pokemon-card-container-grass{
    background: linear-gradient(to right, #78c850, #78c850);
    width: 350px;
    height: auto;
    margin: 10%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
}

.background-grass{
    text-align: center;
    background: linear-gradient(to right, #4b882d, #478826);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.image-grass{
    width: 200px;
    height: 200px;
}

.content-grass{
    background: linear-gradient(to right, #c8fd6c, #c0f860);
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.pokemon-name-grass{
    text-align: center;
    font-size: 19px;
    font-weight: lighter;
    padding: 10px;
}

.pokemon-type-grass{
    background: black;
    padding: 5px;
    color: white;
    border-radius: 5px;
    width: 100px;
    display: block;
    text-align: center;
    position: relative;
    top: -65px;
}

.pokemon-stats-grass p{
    letter-spacing: 1px;
}


/*Darl*/
/**/
.pokemon-card-container-dark{
    background: linear-gradient(to right, #705848, #705848);
    width: 350px;
    height: auto;
    margin: 10%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
}

.background-dark{
    text-align: center;
    background: linear-gradient(to right, #8b8b63, #494930);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.image-dark{
    width: 200px;
    height: 200px;
}

.content-dark{
    background: linear-gradient(to right, #a5a573, #a8a878);
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.pokemon-name-dark{
    text-align: center;
    font-size: 19px;
    font-weight: lighter;
    padding: 10px;
}

.pokemon-type-dark{
    background: black;
    padding: 5px;
    color: white;
    border-radius: 5px;
    width: 100px;
    display: block;
    text-align: center;
    position: relative;
    top: -65px;
}

.pokemon-stats-dark p{
    letter-spacing: 1px;
}

